* {
    font-family: verdana, sans serif;
    background-color: #e6e6e4;
  }
  
  header {
    display: block;
    justify-content: center;
    margin: auto;
    text-align: center;
    padding: 50 0 50 0;
  }

  header p {
    margin-bottom: 7rem;
  }
  
  img {
    display: flex;
    justify-content: center;
    width: 300px;
    max-width: 100%;
    height: auto;
    margin: auto;
    padding: 0 0 50 0;
  }
  
  #img-caption {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 75px;
    width: 100%;
  }

  #img-caption p {
    width: 80%;
    margin-top: 1rem;
  }
  
  #tribute-info {
    display: block;
    text-align: left;
  }

  ul {
    list-style-type: none;
    padding: 0;
    display: block;
    justify-content: center;
  }
  
  li {
    padding: 15px;
    display: block;
    justify-content: center;
    width: 80%;
    height: auto;
    margin: auto;
  }
  
  #tribute-info p {
    display: block;
    justify-content: center;
    width: 80%;
    height: auto;
    margin: 1rem auto;
    text-align: center;
    padding: 5px;
  }